* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

}

#main{
    height: 10000px;
    width: 1000px;
    background-color: #ccc;
    margin: 0 auto;
    position: relative;
}

#content1, #content2, #content3 {
    margin-bottom: 30px;
}

#header{
    position: absolute;
    margin: 30px 100px;
    height: 30px;
    top: 0;
    left: 0;
    right: 0;
}

p {
    float: left;
    height: 30px;
    font-size: 26px;
}

#nav{
    float: right;
    line-height: 30px;
    font-size: 15px;
}

#nav li {
    display: inline-block;
}

#nav li a {
    color: #000;
    padding: 0 10px;
    text-decoration: none;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

p:hover, #nav li:hover a {
    color: #333;
    background-color: #ccc;
}

#content1 {
    position: absolute;
    right: 0;
    height: 400px;
    width: 960px;
    /* background-color: #333; */
    top: 90px;
}

#content1 #box1 {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: rgb(162, 215, 215);
    z-index: 1;
    left: 450px;
    border-radius: 50px;
}

#content1 #subcontent1 {
    position: absolute;
    height: 320px;
    width: 400px;
    /* background-color: #fff; */
    z-index: 2;
    top: 40px;
    left: 30px;
    color: #000;
    padding: 50px 20px;
}

#content1 #subcontent1 div {
    padding-bottom: 30px;
    padding-top: 20px;
}

#content1 #subcontent1 button {
    background-color: rgb(29, 85, 197);
    border: none;
    border-radius: 20px;
    color: #fff;
    width: 120px;
}

#subcontent1 button p {
    font-size: 15px;
    padding-left: 16px;
    padding-top: 7px;
}

#content1 img {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 130px;
    z-index: 2;
    width: 470px;
}

#content2 {
    position: absolute;
    right: 0;
    height: 200px;
    width: 960px;
    background-color: #333;
    top: 510px;
}

#content2 #subcontent2 {
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: #fff;
}

#content2 #nav {
    position: absolute;
    display: inline-block;
    justify-content: space-between;
    width: 500px;
    height: 90px;
    /* padding-left: 280px; */
    /* position: absolute; */
}

#content2 #nav li {
    /* justify-content: space-between; */
}

#content2 #nav img {
    display: inline-block;
}

#nav .picture1 img {
    height: 30px;
    width: 90px;
}

#nav .picture2 img {
    height: 20px;
    width: 100px;
}

#nav .picture3 img {
    height: 16px;
    width: 80px;
}

#nav .picture4 img {
    height: 30px;
    width: 100px;
}

#content3 {
    position: absolute;
    right: 0;
    height: 400px;
    width: 960px;
    background-color: #333;
    top: 930px;
}

#content3 #box3 {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: aqua;
    z-index: 1;
    left: 450px;
    border-radius: 50px;
}

#content3 #subcontent3 {
    position: absolute;
    height: 320px;
    width: 400px;
    background-color: #fff;
    z-index: 2;
    top: 40px;
    left: 30px;
}

#content3 img {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 130px;
    z-index: 2;
}

img {
    height: 350px;
    /* width: 450px; */
}